.badge-ps4 {
    color: white;
    background-color: #007bff;
}

.badge-ps5 {
    color: white;
    background-color: #004a92;

}

.badge-xone {
    color: white;
    background-color: rgb(41,134,28);
}

.badge-pc {
    color: white;
    background-color: #7E685A;
}