footer
{
  background-color:#343A40;
  color:#fff;
  padding:20px 0px 10px 0px;
  margin-top:10px;
}

/*
    Colors the points in the Table
*/
.hockey-points {
  background-color: yellow !important;
  color:black !important;
}